In [1]:
import numpy as np
import pandas as pd
import statistics as st
import matplotlib.pyplot as plt
import seaborn as sns
import random

dataset = pd.read_csv('ParisHousingClass.csv')
dataset.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price,category
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5,Basic
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5,Luxury
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1,Basic
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2,Basic
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0,Luxury

In [2]:
dataset.describe()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000,10000.000000,10000.00000,1.000000e+04
mean,49870.13120,50.358400,0.508700,0.496800,50.276300,50225.486100,5.510100,5.521700,2005.48850,0.499100,0.499900,5033.103900,5028.01060,553.12120,0.503000,4.99460,4.993448e+06
std,28774.37535,28.816696,0.499949,0.500015,28.889171,29006.675799,2.872024,2.856667,9.30809,0.500024,0.500025,2876.729545,2894.33221,262.05017,0.500016,3.17641,2.877424e+06
min,89.00000,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1990.00000,0.000000,0.000000,0.000000,1.00000,100.00000,0.000000,0.00000,1.031350e+04
25%,25098.50000,25.000000,0.000000,0.000000,25.000000,24693.750000,3.000000,3.000000,1997.00000,0.000000,0.000000,2559.750000,2512.00000,327.75000,0.000000,2.00000,2.516402e+06
50%,50105.50000,50.000000,1.000000,0.000000,50.000000,50693.000000,5.000000,5.000000,2005.50000,0.000000,0.000000,5092.500000,5045.00000,554.00000,1.000000,5.00000,5.016180e+06
75%,74609.75000,75.000000,1.000000,1.000000,76.000000,75683.250000,8.000000,8.000000,2014.00000,1.000000,1.000000,7511.250000,7540.50000,777.25000,1.000000,8.00000,7.469092e+06
max,99999.00000,100.000000,1.000000,1.000000,100.000000,99953.000000,10.000000,10.000000,2021.00000,1.000000,1.000000,10000.000000,10000.00000,1000.00000,1.000000,10.00000,1.000677e+07

In [3]:
from sklearn.preprocessing import StandardScaler
import numpy as np

df = dataset
X_train = df[['squareMeters', 'basement', 'attic', 'garage']]
X_train

      squareMeters  basement  attic  garage
0            75523      4313   9005     956
1            80771      3653   2436     128
2            55712      2937   8852     135
3            32316       659   7141     359
4            70429      8435   2429     292
...            ...       ...    ...     ...
9995          1726      9311   1698     218
9996         44403      9061   1742     230
9997         83841      8304   7730     345
9998         59036      2590   6174     339
9999          1440      8485   2024     278

[10000 rows x 4 columns]

In [4]:
# норм. числовых признаков с помощью разных методов 
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler()

In [5]:
print('Мат ожидание', scaler.mean_)
print('Дисперсия', scaler.var_)
print('Преобразованный набор')
arr = scaler.transform(X_train)
DfTr = pd.DataFrame(arr, columns=['squareMeters', 'basement', 'attic', 'garage'])
DfTr

Мат ожидание [49870.1312  5033.1039  5028.0106   553.1212]
Дисперсия [8.27881880e+08 8.27474532e+06 8.37632122e+06 6.86634245e+04]
Преобразованный набор

      squareMeters  basement     attic    garage
0         0.891562 -0.250333  1.374130  1.537488
1         1.073956 -0.479772 -0.895592 -1.622370
2         0.203033 -0.728678  1.321265 -1.595657
3        -0.610092 -1.520589  0.730080 -0.740816
4         0.714521  1.182616 -0.898010 -0.996505
...            ...       ...       ...       ...
9995     -1.673244  1.487144 -1.150586 -1.278908
9996     -0.190009  1.400235 -1.135383 -1.233113
9997      1.180654  1.137076  0.933592 -0.794243
9998      0.318559 -0.849307  0.395962 -0.817141
9999     -1.683183  1.199998 -1.037946 -1.049932

[10000 rows x 4 columns]

In [6]:

from sklearn import preprocessing

X_normalized = preprocessing.normalize(X_train, norm='l2')
frame = pd.DataFrame(X_normalized, columns = ['squareMeters', 'basement', 'attic', 'garage'])
frame

      squareMeters  basement     attic    garage
0         0.991296  0.056611  0.118197  0.012548
1         0.998524  0.045160  0.030115  0.001582
2         0.986273  0.051994  0.156707  0.002390
3         0.976194  0.019907  0.215714  0.010845
4         0.992314  0.118846  0.034224  0.004114
...            ...       ...       ...       ...
9995      0.179360  0.967565  0.176450  0.022654
9996      0.979072  0.199792  0.038411  0.005071
9997      0.990960  0.098149  0.091365  0.004078
9998      0.993614  0.043591  0.103912  0.005706
9999      0.162795  0.959246  0.228817  0.031428

[10000 rows x 4 columns]

In [7]:
max(dataset['price']) - min(dataset['price'])

9996457.7

In [8]:
df = dataset
#df['category'] = dataset['category'].astype('category')
df['price_type'] = dataset['price'].apply(lambda price: 'Низкий' if price < 2_500_000  else 'Средний' if price < 5_000_000 else 'Высокий').astype('category')
df

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price,category,price_type
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5,Basic,Высокий
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5,Luxury,Высокий
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1,Basic,Высокий
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2,Basic,Средний
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0,Luxury,Высокий
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1726,89,0,1,5,73133,7,6,2009,0,1,9311,1698,218,0,4,176425.9,Basic,Низкий
9996,44403,29,1,1,12,34606,9,4,1990,0,1,9061,1742,230,0,0,4448474.0,Basic,Средний
9997,83841,3,0,0,69,80933,10,10,2005,1,1,8304,7730,345,1,9,8390030.5,Basic,Высокий
9998,59036,70,0,0,96,55856,1,3,2010,0,1,2590,6174,339,1,4,5905107.0,Basic,Высокий
9999,1440,84,0,0,49,18412,6,10,1994,1,0,8485,2024,278,1,6,146708.4,Basic,Низкий

In [9]:

df.dtypes

squareMeters            int64
numberOfRooms           int64
hasYard                 int64
hasPool                 int64
floors                  int64
cityCode                int64
cityPartRange           int64
numPrevOwners           int64
made                    int64
isNewBuilt              int64
hasStormProtector       int64
basement                int64
attic                   int64
garage                  int64
hasStorageRoom          int64
hasGuestRoom            int64
price                 float64
category               object
price_type           category
dtype: object

In [10]:
from sklearn.compose import make_column_selector as selector

categorical_columns_selector = selector(dtype_include='category')
categorical_columns = categorical_columns_selector(df)
categorical_columns

['price_type']

In [11]:
df_cat = df[categorical_columns] #отберем только те столбцы в которых присутствует категориальная перемнная
df_cat.head(20)

   price_type
0     Высокий
1     Высокий
2     Высокий
3     Средний
4     Высокий
5     Средний
6     Высокий
7     Высокий
8     Высокий
9     Средний
10     Низкий
11    Высокий
12     Низкий
13     Низкий
14    Высокий
15    Высокий
16    Высокий
17    Высокий
18    Средний
19    Средний

In [12]:
df["price_type"].value_counts().sort_index()

price_type
Высокий    5021
Низкий     2482
Средний    2497
Name: count, dtype: int64

In [13]:
# преобразуем данные в числовое представление
from sklearn.preprocessing import OrdinalEncoder

cat_column = df_cat[["price_type"]]

print(df_cat['price_type'].unique()) #посмотрим какие виды образования присутствуют в выборке

encoder = OrdinalEncoder()   # вызываем кодировщик
encoder  = encoder.fit(df_cat[['price_type']])
df_cat.loc[:,'price_type'] = encoder.transform(df_cat[['price_type']])
df_cat

['Высокий', 'Средний', 'Низкий']
Categories (3, object): ['Высокий', 'Низкий', 'Средний']

C:\Users\Rin\AppData\Local\Temp\ipykernel_1820\510751341.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[[0.]
 [0.]
 [0.]
 ...
 [0.]
 [0.]
 [1.]]' has dtype incompatible with category, please explicitly cast to a compatible dtype first.
  df_cat.loc[:,'price_type'] = encoder.transform(df_cat[['price_type']])

      price_type
0            0.0
1            0.0
2            0.0
3            2.0
4            0.0
...          ...
9995         1.0
9996         2.0
9997         0.0
9998         0.0
9999         1.0

[10000 rows x 1 columns]

In [14]:
encoder = OrdinalEncoder()
price_type_encoded = encoder.fit_transform(df[['price_type']])

print(f"Encoded price_type column:\n{price_type_encoded}")

encoded_categories = encoder.categories_[0]

for i, category in enumerate(encoded_categories):
    print(f"Значение {i} принадлежит к категории: {category}")

Encoded price_type column:
[[0.]
 [0.]
 [0.]
 ...
 [0.]
 [0.]
 [1.]]
Значение 0 принадлежит к категории: Высокий
Значение 1 принадлежит к категории: Низкий
Значение 2 принадлежит к категории: Средний

In [15]:
print(encoder.categories_)
print(len(encoder.categories_[0]))
print(df_cat['price_type'].unique())
df_cat['price_type'].unique().size

[array(['Высокий', 'Низкий', 'Средний'], dtype=object)]
3
[0. 2. 1.]

3

In [16]:
frame['price_type'] = df_cat['price_type']
frame

      squareMeters  basement     attic    garage  price_type
0         0.991296  0.056611  0.118197  0.012548         0.0
1         0.998524  0.045160  0.030115  0.001582         0.0
2         0.986273  0.051994  0.156707  0.002390         0.0
3         0.976194  0.019907  0.215714  0.010845         2.0
4         0.992314  0.118846  0.034224  0.004114         0.0
...            ...       ...       ...       ...         ...
9995      0.179360  0.967565  0.176450  0.022654         1.0
9996      0.979072  0.199792  0.038411  0.005071         2.0
9997      0.990960  0.098149  0.091365  0.004078         0.0
9998      0.993614  0.043591  0.103912  0.005706         0.0
9999      0.162795  0.959246  0.228817  0.031428         1.0

[10000 rows x 5 columns]